@import './sections/example.styl'
@import './sections/installation.styl'

body.storage_warehouses
    @import './sections/warehouses.styl'

body.storage_manufacturers
    @import './sections/manufacturers.styl'

body.storage_images
    @import './sections/images.styl'
